[submodule "deps/coreutils"]
	path = deps/coreutils
	url = https://github.com/microsoft/uutils-coreutils.git
[submodule "deps/findutils"]
	path = deps/findutils
	url = https://github.com/uutils/findutils.git
[submodule "deps/grep"]
	path = deps/grep
	url = https://github.com/uutils/grep.git
